.wave1 {

  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave1 svg {

  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 236px;
  transform: rotateY(180deg);
}

.wave1 .shape-fill {
  fill: #3A3535;
}

.wave-position{
  position: relative;
}

.wave2 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 185px;
}

.wave2 .shape-fill {
  fill: #3A3535;
}